sudo: required
## test return
# script:
# - ./run.sh
## test multiple jobs and stages
# jobs:
#   include:
#     - stage: "prepare-stage"
#       name: "prepare"
#       script: echo "prepare"
#     - stage: "test-stage"
#       name: "unit test"
#       script: 
#         - echo "unit test"
#     - script: 
#         - echo "integration test"
#       name: "integration test"
## test ssh
# before_install:
# - openssl aes-256-cbc -K $encrypted_427f7ed1450e_key -iv $encrypted_427f7ed1450e_iv
#   -in deploy_rsa.enc -out ~/.ssh/deploy_rsa -d
# script:
# - sudo apt update
# - chmod 600 ~/.ssh/deploy_rsa
# - eval `ssh-agent -s`
# - ssh-add ~/.ssh/deploy_rsa
# - ssh root@47.90.189.186 -o StrictHostKeyChecking=no 'cd /root & touch travis.com'
## test git clone with authorization
# before_install:
# - openssl aes-256-cbc -K $encrypted_427f7ed1450e_key -iv $encrypted_427f7ed1450e_iv
#   -in id_rsa.enc -out ~/.ssh/id_rsa -d
# script:
# - sudo apt update
# - chmod 600 ~/.ssh/id_rsa
# - eval `ssh-agent -s`
# - ssh-add ~/.ssh/id_rsa
# - git clone git@github.com:superboyiii/NEO-TEST.git
## stage & jobs
matrix:
  include:
  - name: "linux test"
    os: linux
    env: TEST_SUITE=linux-test
  - name: "osx test"
    os: osx
    env: TEST_SUITE=osx-test
before_install:
- echo "hello world" >> hw.txt
script: 
- uname -a
- cat hw.txt
## docker run return
# services:
# - docker
# install:
# - docker build -t test ./
# - docker run --name test_return test