sudo: required
jobs:
  include:
    - stage: "prepare-stage"
      name: "prepare"
      script: echo "prepare"
    - stage: "test-stage"
      name: "unit test"
      script: echo "unit test"
    - script: echo "integration test"
      name: "integration test"